<ion-header>
  <ion-toolbar>
    <ion-title>
      4Gamers2Gamers
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- SearchBox -->
<ion-searchbar #searchBox (ionCancel)="cancel()" (ionChange)="search(searchBox.value)" animated
               cancelButtonText="Cancel"
               debounce="500" placeholder="Search Games, Players, Teams by name"
               showCancelButton>
</ion-searchbar>

<!-- Main content -->
<ion-content *ngIf="!displaySearch">
  <ion-grid style="height: 100%">
    <ion-row>
     <ion-card routerLink="/search-user">
       <ion-card-header>
         <ion-card-title>Search a Player</ion-card-title>
       </ion-card-header>
       <ion-card-content>
         Search new player, filtering them by game, skills and more!
       </ion-card-content>
     </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Search a Team</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Search new team!
          Join them or find new challenges
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Search a Event</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Don't be afraid!
          Test your ability in the new events.
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Search result -->
<ion-content *ngIf="displaySearch">
  <!-- Search list -->
  <ion-list>
    <!-- User list -->
    <ion-list-header *ngIf="usersSearch.length === 0" class="no-item-to-display">
      <ion-label>No gamer to display.</ion-label>
    </ion-list-header>
    <ion-list-header *ngIf="usersSearch.length > 0">
      <ion-label>Gamers</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of usersSearch" routerLink='/profile/{{user.id}}'>
      <ion-avatar class="user-avatar">
        <ion-img src="../assets/img/icon.png"></ion-img>
      </ion-avatar>
      <ion-label class="user-nick">{{ user.nickname }}</ion-label>
    </ion-item>
    <!-- Event list -->
    <ion-list-header *ngIf="eventsSearch.length === 0" class="no-item-to-display">
      <ion-label>No event to display.</ion-label>
    </ion-list-header>
    <ion-list-header *ngIf="eventsSearch.length > 0">
      <ion-label>Events</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of eventsSearch" routerLink='/event/{{event.id}}'>
      <ion-avatar class="event-icon">
        <ion-img src="../assets/img/event.png"></ion-img>
      </ion-avatar>
      <ion-label class="event-name">{{ event.name }}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Team list -->
  <!-- TODO: add team list -->

  <!-- TODO: add event list -->
</ion-content>
