<ion-header *ngIf="currentUser">
  <ion-toolbar>
    <ion-title>
      {{currentUser.nickname}}'s Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentUser">


  <!-- Cover image -->
  <ion-img id="cover-image" src="../assets/img/cover.jpg"></ion-img>
  <!-- Profile image -->
  <ion-avatar>
    <ion-img id="profile-image" src="../assets/img/icon.png"></ion-img>
  </ion-avatar>
  <!-- Player name -->
  <ion-label id="player-name">{{currentUser.nickname}}</ion-label>
  <!-- Button -->
  <ion-fab horizontal="end" vertical="top">
    <ion-fab-button color="secondary" size="small" routerLink="/setting">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" size="small">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" size="small">
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Actions -->
  <div class="action-div">

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item detail="true">
            Create a team.
          </ion-item>
          <ion-item detail="true">
            Search for a Team.
          </ion-item>
          <ion-item detail="true">
            Search for a F/A.
          </ion-item>
          <ion-item detail="true">
            Plan a event
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Games -->
  <div class="games-div">
    <ion-chip id="games-chip">
      <ion-icon name="logo-game-controller-a"></ion-icon>
      <ion-label id="game-title">Games</ion-label>
    </ion-chip>
    <!-- TODO: Add game db with images-->
  </div>


</ion-content>
