<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentUser && !gameChoosing">
  <ion-item *ngIf="showErr" color="danger">
    Insert all the fields.
  </ion-item>
  <!-- Game -->
  <ion-item detail="true" (click)="chooseGame()">
    <ion-label>Choose game:</ion-label>
    <ion-label *ngIf="game !== '---'">{{game}}</ion-label>
  </ion-item>
  <!-- Name -->
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input #nameInput placeholder="Insert name"
               debounce="500" (ionChange)="chooseName(nameInput)"></ion-input>
  </ion-item>
  <!-- Platform -->
  <ion-item>
    <ion-label>Choose the platform:</ion-label>
    <ion-button (click)="openConsolePicker()">{{gameConsole}}</ion-button>
  </ion-item>
  <!-- Nationality -->
  <ion-item>
    <ion-label>
      Choose nationality:
    </ion-label>
    <ion-button (click)="openCountryPicker()">
      {{country}}
    </ion-button>
  </ion-item>
  <!-- Buttons -->
  <ion-button expand="block" (click)="alertTeam()">
    Create team!
  </ion-button>
</ion-content>
<!-- Game choose view -->
<ion-content *ngIf="gameChoosing && games" >
  <ion-card id="game-choosing">
    <ion-button size="small" color="warning" (click)="deselectGame()">
      <ion-label>Deselect game!</ion-label>
    </ion-button>
    <ion-button size="small" color="danger"
                id="close-game-card"
                (click)="closeGameChoice()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-card-header>
      Choose the game by touching the images.
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let elem of gamesMatrix">
          <ion-col>
            <ion-img *ngIf="elem[0]" id='{{elem[0].name}}'
                     src="assets/games/{{elem[0].name}}.jpg" class="game-img"
                     (click)='alertGame(elem[0])'>
            </ion-img>
          </ion-col>
          <ion-col>
            <ion-img *ngIf="elem[1]" id='{{elem[1].name}}'
                     src="assets/games/{{elem[1].name}}.jpg" class="game-img"
                     (click)='alertGame(elem[1])'>
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
