#info-label{
  text-align: center;
  font-size: 13px;
}

.foll-row{
  border: black 1px solid;
}

.foll-col{
  border: black 1px solid;
  text-align: center;
}
.game-img{
  height: 150px;
}

#close-game-card{
  position: relative;
  left: 50%;
}
