<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentUser && !gameChoosing">
  <!-- Game -->
  <ion-item detail="true" (click)="chooseGame()">
    <ion-label>Choose game:</ion-label>
    <ion-label *ngIf="game !== '---'">{{game}}</ion-label>
  </ion-item>
  <!-- Name -->
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input #nameInput placeholder="Insert name"
               debounce="500" (ionChange)="chooseName(nameInput)"></ion-input>
  </ion-item>
  <!-- Date -->
  <ion-item>
    <ion-label>Date</ion-label>
    <!--suppress HtmlUnknownAttribute -->
    <ion-datetime #dataPicker display-format="MMM DD, YYYY"
                  picker-format="MMMM DD, YYYY" placeholder=""
                  (ionChange)="changeData(dataPicker)"></ion-datetime>
  </ion-item>
  <!-- Hour -->
  <ion-item>
  <ion-label>Hour</ion-label>
  <!--suppress HtmlUnknownAttribute -->
  <ion-datetime #hourPicker display-format="HH:mm"
                picker-format="HH:mm"
                (ionChange)="changeHour(hourPicker)"></ion-datetime>
  </ion-item>
  <!-- Platform -->
  <ion-item>
    <ion-label>Choose the platform:</ion-label>
    <ion-button (click)="openConsolePicker()">{{gameConsole}}</ion-button>
  </ion-item>
  <!-- Online -->
  <ion-list>
    <ion-radio-group #onlineRadio (ionChange)="chooseOnline(onlineRadio)">
      <ion-list-header>
        <ion-label>Choose Online or LAN</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Online</ion-label>
        <ion-radio slot="start" value="true" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Lan</ion-label>
        <ion-radio slot="start" value="false"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <!-- Team -->
  <ion-list>
    <ion-radio-group #teamRadio (ionChange)="chooseTeam(teamRadio)">
      <ion-list-header>
        <ion-label>Choose Team or singleplayer</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Team</ion-label>
        <ion-radio slot="start" value="true" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Singleplayer</ion-label>
        <ion-radio slot="start" value="false"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <!-- Location -->
  <ion-item *ngIf="!online">
    <ion-label>Location:</ion-label>
    <ion-input #locationInput placeholder="Insert location"
               debounce="500" (ionChange)="chooseLocation(locationInput)"></ion-input>
  </ion-item>
  <!-- Button -->
  <ion-button *ngIf="!diplaySearch" expand="block" color="success" (click)="searchEvent()">
    Start search!
  </ion-button>
  <ion-button *ngIf="diplaySearch" expand="block" color="success" (click)="searchEvent()">
    Refresh search
  </ion-button>
  <ion-list *ngIf="diplaySearch">
    <ion-list-header *ngIf="events.length === 0">
      No events to show.
    </ion-list-header>
    <ion-list-header *ngIf="events.length !== 0">
      Events
    </ion-list-header>
    <ion-item *ngFor="let event of events" routerLink='/event/{{event.id}}'>
      <ion-avatar class="event-icon">
        <ion-img src="../assets/img/event.png"></ion-img>
      </ion-avatar>
      <ion-label class="event-name">{{ event.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<!-- Game choose view -->
<ion-content *ngIf="gameChoosing && games" >
  <ion-card id="game-choosing">
    <ion-button size="small" color="warning" (click)="deselectGame()">
      <ion-label>Deselect game!</ion-label>
    </ion-button>
    <ion-button size="small" color="danger"
                id="close-game-card"
                (click)="closeGameChoice()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-card-header>
      Choose the game by touching the images.
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let elem of gamesMatrix">
          <ion-col>
            <ion-img *ngIf="elem[0]" id='{{elem[0].name}}'
                     src="assets/games/{{elem[0].name}}.jpg" class="game-img"
                     (click)='alertGame(elem[0])'>
            </ion-img>
          </ion-col>
          <ion-col>
            <ion-img *ngIf="elem[1]" id='{{elem[1].name}}'
                     src="assets/games/{{elem[1].name}}.jpg" class="game-img"
                     (click)='alertGame(elem[1])'>
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
