<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentUser">
  <!-- Options -->
  <ion-list #list>
    <ion-item>
      <ion-label>Edit nickname:</ion-label>
      <ion-input #nicknameBox placeholder="{{nickname}}"
                 debounce="500" (ionChange)="nicknameInput(nicknameBox.value)"
                 [(ngModel)]="nicknameInputField">
      </ion-input>
    </ion-item>
    <ion-item detail="true">
      <ion-label>Edit profile pic:</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/games">
      <ion-label>Change game:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Edit country:</ion-label>
      <ion-button (click)="openCountryPicker()">{{country}}</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Edit favorite console:</ion-label>
      <ion-button (click)="openConsolePicker()">{{gameConsole}}</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Edit email:</ion-label>
      <ion-input #emailBox placeholder="{{email}}"
                 debounce="500" (ionChange)="emailInput(emailBox.value)"
                 [(ngModel)]="emailInputField"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Change password:</ion-label>
      <ion-input #passBox placeholder="New password" type="password"
                 debounce="500" (ionChange)="passInput(passBox.value)"
                 [(ngModel)]="passInputField"></ion-input>
    </ion-item>
  </ion-list>
  <!-- Save changed button -->
  <ion-button size="large" expand="block" shape="round"
              strong="true" color="success"
              (click)="saveAlertMethod(list)">
    Save Changes
  </ion-button>
  <!-- Delete account action -->
  <div id="delete-div">
    <div>
      <ion-chip color="danger">
        <ion-icon name="alert"></ion-icon>
        <ion-label>You are entering the DANGEROUS zone</ion-label>
      </ion-chip>
    </div>
    <ion-button color="danger" size="small"
                (click)="deleteAlertMethod()">
      Delete Account
    </ion-button>
  </div>
  <!-- Logout action -->
  <div class="logout-div">
    <div>
      <ion-chip color="warning">
        <ion-icon name="sad"></ion-icon>
        <ion-label>Do not do it, you are making us sad!</ion-label>
      </ion-chip>
    </div>
    <ion-button color="warning" size="small"
                (click)="logoutAlertMethod()">
      Logout
    </ion-button>
  </div>
</ion-content>
